name: Huduku

 # ------------------------
  # LISTING (already exists)
  # ------------------------
services:
  listing-db-srv:
    image: postgres:17.4-alpine3.21
    container_name: listing_db
    restart: always
    env_file:
      - ./env/listing.env
    ports:
      - "5432:5432"



  listing-srv:
    build: ./listing_service
    container_name: listing_srv
    restart: always
    depends_on:
      - listing-db-srv
    volumes:
      - ./listing_service/app:/app
    #working_dir: /listing_service/app
    ports:
      - "8000:8000"
    env_file:
      - ./env/listing.env
    command: >
      sh -c "
        if python manage.py shell -c 'from django.contrib.auth.models import User; print(User.objects.filter(username=\"admin\").exists())' | grep -q 'True'; then
          echo 'Admin user exists, skipping app and database setup';
        else
          echo 'Setting up database and creating admin user' &&
          rm -f inventory/migrations/0001_initial.py &&
          python manage.py migrate &&
          python manage.py makemigrations &&
          python manage.py migrate inventory &&
          python manage.py shell -c 'from django.contrib.auth.models import User;User.objects.create_superuser(\"admin\",\"admin@example.com\",\"admin\")';
        fi && 
        echo 'Cleaning and collecting static files' &&
        rm -rf static &&
        python manage.py collectstatic --noinput &&
        uvicorn core.asgi:application --host 0.0.0.0 --port 8000 --reload
      "


 # ------------------------
  # AUTH SERVICE (NEW)
  # ------------------------
  auth-db-srv:
    image: postgres:17.4-alpine3.21
    container_name: auth_db
    restart: always
    env_file:
      - ./env/auth.env
    ports:
      - "5433:5432"

  auth-srv:
    build: ./auth_service
    container_name: auth_srv
    restart: always
    depends_on:
      - auth-db-srv
    volumes:
      - ./auth_service/app:/app
    ports:
      - "8001:8000"
    env_file:
      - ./env/auth.env
    command: >
      sh -c "
        if python manage.py shell -c 'from django.contrib.auth.models import User; print(User.objects.filter(username=\"admin\").exists())' | grep -q 'True'; then
                  echo 'Admin user exists, skipping app and database setup';
                else
                  echo 'Setting up database and creating admin user' &&
                  rm -f inventory/migrations/0001_initial.py &&
                  python manage.py migrate &&
                  python manage.py makemigrations &&
                  python manage.py migrate users &&
                  python manage.py shell -c 'from django.contrib.auth.models import User;User.objects.create_superuser(\"admin\",\"admin@example.com\",\"admin\")';
                fi && 
                echo 'Cleaning and collecting static files' &&
                rm -rf static &&
                python manage.py collectstatic --noinput &&
                uvicorn core.asgi:application --host 0.0.0.0 --port 8000 --reload
              "